<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">


	</head>
	<body id="grad4">
		<!-- <nav> -->
		<div class="sidebar">
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/cv">CV</a>
			<a href="/blog">Diary</a>
			<a href="/computerVision">DadaVision</a></li>
			<a href="/DadaSonic">DadaSonic</a>
			<a href="/DadaBlabla">DadaBlabla</a>
			<!-- <a href="/DadaData">DadaData</a> -->
			<button class="dropdown-btn">DadaData
			 <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="/DadaData/TextAnalysis"> Text Data</a>
				<a href="/DadaData/TrendAnalysis"> Trend Data</a>
				<a href="/DadaData/ImageAnalysis"> Image Data</a>
			</div>
			<a href="/DadaThings">DadaThings</a>
			<a href="/DadaGallery">DadaGallery</a>

		</div>
		<!-- </nav> -->
		<div class="content">

		{{ content }}

		</div><!-- /.container -->

		<div class="footer">

					<a style="color:tomato" href="mailto:sabrina@theatredu1k.com"> email  </a><br>
					© Sabrina Recoules Quang  <script type="text/javascript">document.write( new Date().getFullYear() )</script>

		</body>

	</html>
