<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- <style>
			@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
			</style> -->

		</head>
		<body id="grad3">
			<!-- <nav> -->
			<div class="sidebar" id="grad2">
	 		  <a href="/">Home</a>
		    <a href="/about">About</a>
	      <a href="/cv">CV</a>
	      <a href="/blog">Diary</a>
				<a href="/computerVision">DadaVision</a></li>
				<a href="/DadaAutomata">DadaAutomata</a>
				<a href="/DadaBlabla">DadaBlabla</a>
				<a href="/DadaActuator">DadaActuator</a>
				<a href="/DadaThings">DadaThings</a>
				<a href="/DadaGallery">DadaGallery</a>

			</div>
			<!-- </nav> -->
			<div class="content">

			{{ content }}

			</div><!-- /.container -->
			<div class="footer">

	        	<a style="color:tomato" href="mailto:sabrina@theatredu1k.com"> email  </a><br>
						© Sabrina Recoules Quang  <script type="text/javascript">document.write( new Date().getFullYear() )</script>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
</div>

		</body>

	</html>
