<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">


		</head>
		<body>
			<!-- <nav> -->
			<div class="sidebar">

	 <a href="/">Home</a>
		        	<a href="/about">About</a>
	        		<a href="/cv">CV</a>
	        		<a href="/blog">Diary</a>
				<a href="/computerVision">DadaVision</a></li>
				<a href="/DadaAutomata">DadaAutomata</a>
				<a href="/DadaBlabla">DadaBlabla</a>
				<a href="/DadaActuator">DadaActuator</a>
				<a href="/DadaThings">DadaThings</a>
				<a href="/DadaGallery">DadaGallery</a>

			</div>
			<!-- </nav> -->
			<div class="content">

			{{ content }}

			</div><!-- /.container -->

			<footer>
	        		<a href="mailto:sabrina@theatredu1k.com">email    </a>
							© Sabrina Recoules Quang  <script type="text/javascript">document.write( new Date().getFullYear() )</script>

			</footer>

		</body>

	</html>
